

# Everything below should be auto-sorted. Edit gitignore.sh to add lines above.


*.asc
*.bak
*.msi
*.old
*.swp
.DS_Store
BUILD
BUILDROOT
docker/darwinx/Dockerfile
docker/darwinx/packages
docker/linux/Dockerfile
docker/mingw/Dockerfile
GSharpKit-*.pkg
GSharpKit.json
GSharpSdk.json
mac/GSharpKitBuild/
mac/m4-1.4.17.tar.gz
mac/m4-1.4.17/
make-msi32.sh
make-msi64.sh
make-msisdk.sh
make-pkg-notarize.sh
make-pkg.sh
PATCHES
rpm/.DS_Store
rpm/SOURCES/*.bz2
rpm/SOURCES/*.gz
rpm/SOURCES/*.tgz
rpm/SOURCES/*.xz
rpm/SOURCES/*.zip
rpm/SOURCES/125.patch
rpm/SOURCES/Apache-LICENSE.txt
rpm/SOURCES/buildinfo
rpm/SOURCES/cairo-1.17.6-meson-fixes.patch
rpm/SOURCES/core-gen-buildinfo.patch.template
rpm/SOURCES/create-md-packages-archive.sh
rpm/SOURCES/create-monodevelop-source-archive.sh
rpm/SOURCES/create-msbuild-source-archive.sh
rpm/SOURCES/deploy-nuget-packages.sh
rpm/SOURCES/FakeNuget.cs
rpm/SOURCES/find-embedded-packages.sh
rpm/SOURCES/fsharp-packages.config
rpm/SOURCES/gdkkeys-win32.h
rpm/SOURCES/gdl-3.40.0.orig/
rpm/SOURCES/gdl-3.40.0/
rpm/SOURCES/gir.core-0.99/
rpm/SOURCES/gmodule-win32-internals.h
rpm/SOURCES/gtk+-array-bounds.patch
rpm/SOURCES/gtk+-libhid.patch
rpm/SOURCES/LICENSE
rpm/SOURCES/LICENSE.txt
rpm/SOURCES/monodevelop-beta-rpmlintrc
rpm/SOURCES/NuGet.Config.template
rpm/SOURCES/oauth2.snk
rpm/SOURCES/proxy.1
rpm/SOURCES/tepl6.patch
rpm/SOURCES/ThirdPartyNotices.txt
rpm/SOURCES/unifdef-*
rpm/SOURCES/webkitgtk-2.4.11*/
RPMS
SOURCES.bak
SRPMS
