*.bak
*.msi
*.swp
*.old

GSharpKit.json
GSharpSdk.json
make-msi32.sh
make-msi64.sh
make-msisdk.sh


GSharpKit-*.pkg
make-pkg.sh
make-pkg-notarize.sh

# Everything below should be auto-sorted. Edit gitignore.sh to add lines above.


.DS_Store
BUILD
BUILDROOT
PATCHES
rpm/.DS_Store
rpm/SOURCES/*.zip
rpm/SOURCES/*.gz
rpm/SOURCES/*.bz2
rpm/SOURCES/*.xz
rpm/SOURCES/*.tgz
RPMS
SOURCES.bak
SRPMS
docker/darwinx/packages
docker/darwinx/Dockerfile
docker/linux/Dockerfile
docker/mingw/Dockerfile
rpm/SOURCES/proxy.1
mac/m4-1.4.17.tar.gz
mac/m4-1.4.17/
rpm/SOURCES/webkitgtk-2.4.11*/
rpm/SOURCES/Apache-LICENSE.txt
rpm/SOURCES/FakeNuget.cs
rpm/SOURCES/LICENSE
rpm/SOURCES/LICENSE.txt
rpm/SOURCES/NuGet.Config.template
rpm/SOURCES/ThirdPartyNotices.txt
rpm/SOURCES/buildinfo
rpm/SOURCES/core-gen-buildinfo.patch.template
rpm/SOURCES/create-md-packages-archive.sh
rpm/SOURCES/create-monodevelop-source-archive.sh
rpm/SOURCES/create-msbuild-source-archive.sh
rpm/SOURCES/deploy-nuget-packages.sh
rpm/SOURCES/find-embedded-packages.sh
rpm/SOURCES/fsharp-packages.config
rpm/SOURCES/gmodule-win32-internals.h
rpm/SOURCES/monodevelop-beta-rpmlintrc
rpm/SOURCES/oauth2.snk
rpm/SOURCES/125.patch
rpm/SOURCES/cairo-1.17.6-meson-fixes.patch
rpm/SOURCES/gdkkeys-win32.h
rpm/SOURCES/gir.core-0.99/
rpm/SOURCES/gtk+-array-bounds.patch
rpm/SOURCES/gtk+-libhid.patch
rpm/SOURCES/tepl6.patch
rpm/SOURCES/unifdef-*
