*.bak
*.msi

GSharpKit.json
make-msi32.sh
make-msi64.sh

# Everything below should be auto-sorted. Edit gitignore.sh to add lines above.


.DS_Store
BUILD
BUILDROOT
PATCHES
rpm/.DS_Store
rpm/SOURCES/*.bz2
rpm/SOURCES/*.gz
rpm/SOURCES/*.tgz
rpm/SOURCES/*.xz
rpm/SOURCES/*.zip
rpm/SOURCES/Apache-LICENSE.txt
rpm/SOURCES/buildinfo
rpm/SOURCES/core-gen-buildinfo.patch.template
rpm/SOURCES/create-md-packages-archive.sh
rpm/SOURCES/create-monodevelop-source-archive.sh
rpm/SOURCES/create-msbuild-source-archive.sh
rpm/SOURCES/dbus-sharp-glib-0.6.orig/
rpm/SOURCES/dbus-sharp-glib-0.6/
rpm/SOURCES/deploy-nuget-packages.sh
rpm/SOURCES/dotnet
rpm/SOURCES/dotnetcore-1.1.0/
rpm/SOURCES/FakeNuget.cs
rpm/SOURCES/find-embedded-packages.sh
rpm/SOURCES/fsharp-packages.config
rpm/SOURCES/gdk-pixbuf-2.36.0/
rpm/SOURCES/glade-3.20.0.orig/
rpm/SOURCES/glade-3.20.0/
rpm/SOURCES/gmodule-win32-internals.h
rpm/SOURCES/gtk+-3.22.6/
rpm/SOURCES/gtk-3.20.10-disable-assert.patch.bak
rpm/SOURCES/gtk-3.20.10-uimanager-node.patch.bak
rpm/SOURCES/gtk.immodules
rpm/SOURCES/host/
rpm/SOURCES/libsecret-0.18.5.orig/
rpm/SOURCES/libsecret-0.18.5/
rpm/SOURCES/LICENSE
rpm/SOURCES/LICENSE.txt
rpm/SOURCES/monodevelop-beta-rpmlintrc
rpm/SOURCES/msbuild-15.3.409.57025.orig/
rpm/SOURCES/msbuild-15.3.409.57025/
rpm/SOURCES/msbuild.sh
rpm/SOURCES/netstandard-2.0.0/
rpm/SOURCES/NuGet.Config.template
rpm/SOURCES/oauth2.snk
rpm/SOURCES/sdk/
rpm/SOURCES/shared/
rpm/SOURCES/ThirdPartyNotices.txt
rpm/SOURCES/0001-Add-config-module-for-querying-PacRunner-d-mon.patch
rpm/SOURCES/harfbuzz-enable-delayload-freetype.patch
rpm/SOURCES/libproxy-pacrunner-crash-fix.patch
rpm/SOURCES/pango-enable-delay-load-of-freetype-and-fontconfig.patch
rpm/SOURCES/proxy.1
RPMS
SOURCES.bak
SRPMS
docker/darwinx/packages
docker/darwinx/Dockerfile
docker/linux/Dockerfile
docker/mingw/Dockerfile
rpm/SOURCES/proxy.1
